{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static '/patients/css/notification.css' %}">
<link rel="stylesheet" href="{% static '/patients/css/charts.css' %}"> 
{% endblock %} 

{% block chart %}
<div class="container-fluid">
    <div class="jumbotron" id="chart-jumbo">
        <div class="dropdown-animation form-row">
            <!-- <h1 id="room-name" value="{{device}}">{{device}}</h1> -->
            <a class="dropdown-toggle2" href="#" id="sandwichDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i id="dropdown-button" class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-container" id="" aria-labelledby="sandwichDropdown">
                <p class="dropdown">Datapoints:</p>
                <div class="dpCounter">
                    <input class="btn btn-outline-secondary vBt" type="button" name="subBt" id="subBt" onclick="subDatapoint()" value="-">
                    <input class="dropdown-item form-control form-control-sm dropdown-input" id="datapoints-input" type="text" name="datapointsCount" value="30">
                    <input class="btn btn-outline-secondary vBt" type="button" name="addBt" id="addBt" onclick="addDatapoint()" value="+">
                </div>
                <input class="submitBt btn btn-primary dropdown-submit" type="button" name="submitBt" onclick="updateChart()" value="Update">
            </div>
        </div>
        <div class="chart-container">
            <canvas id="{{ device }}-pulse" width="50%" height="50%"></canvas>
        </div>
    </div>
</div>
{% endblock %} 

{% block jquery %}
<script type="text/javascript">
    var deviceValue = "{{device}}";
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" type="text/javascript"></script>
<script src="{% static '/patients/js/temp_chart.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $(window).on('load', function() {
        var chartValues = chartPulse("{{device}}", 30, "true");
    })

    $('.dropdown-animation').on('show.bs.dropdown', function(e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown(200);
    });

    $('.dropdown-animation').on('hide.bs.dropdown', function(e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp(150);
    });
</script>

{% endblock %}


{% block sidebar %}
                        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Overview</li>
                        <li>
                            <a href="{% url 'doctors:doctor-homepage' %}" class="waves-effect">
                                <i class="ion ion-md-speedometer"></i>
                                <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                                <span> Dashboard </span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
{% endblock sidebar %}

{% block profile %}
<li class="dropdown notification-list list-inline-item">
    <div class="dropdown notification-list nav-pro-img">
        <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="{% static 'assets/images/users/user-2.jpg' %}" alt="user" class="rounded-circle">
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
            <!-- item-->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="{% url 'accounts:doctor-logout' %}">
            <i class="mdi mdi-power text-danger"></i> Logout</a>
        </div>
    </div>
</li>
{% endblock profile %}



{% block topbarLeft %}
<div class="topbar-left">
    <a href="{% url 'doctors:doctor-homepage' %}" class="logo">
        <span class="logo-light">
                <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="16">
            </span>
        <span class="logo-sm">
                <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
            </span>
    </a>
</div>
{% endblock topbarLeft %}

{% block sidebarMenu %}
<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu" id="side-menu">
        <li class="menu-title">Overview</li>
        <li>
            <a href="{% url 'doctors:doctor-homepage' %}" class="waves-effect">
                <i class="ion ion-md-speedometer"></i>
                <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                <span> Dashboard </span>
            </a>
        </li>

    </ul>

</div>
{% endblock sidebarMenu %}